@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    height:100vh;
    background-image:linear-gradient(to right,#43cea2,#185a9d);
    display:flex;
    justify-content: center;
    align-items: center;
    
}
div{
    border:1px solid white;
    padding:15px;
    color: aliceblue;
    font-family: montserrat;
    font-weight: bold;
}
div:hover{
    transform: scale(1.2);
    transition-duration: 900ms;
    background-color: aliceblue;
    color: rgb(8, 106, 233);
}