@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');body{
    height:100vh;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
    
}

.cards{

    display:flex;
    width:65%;
    justify-content: space-around;
    margin-top: 40px;
    gap: 45px;
    
}

.sub:hover{
  
   
    transform: scale(1.2);
    transition-duration: 1200ms;
}

.sub{
    border: 2px solid white;
    padding: 10px;
   height: 8rem;
   width: 40%;
   text-align: center;
   color: white;
   
   font-family: montserrat;
}

a{
    
        padding: 10px;
       height: 8rem;
       width: 40%;
       text-align: center;
       color: white;
       font-family: montserrat;
    
}
i{
    font-size: 5em;
}
h1{
    color:aliceblue;
    font-family: montserrat;
    font-weight: bolder;
}
/* Media query for Smaller device like iphone amd other android */
@media (max-width: 767px){
    body{
        flex-direction: column;
    }
    .cards{
        flex-direction: row;
        margin-bottom: 10px;
        margin-top: 40px;
        /* padding-right: 10px; */
        justify-content: center;
        align-items: center;
    
    }
    .sub{
        padding: 22px;
        margin: 2px;

        
    }
    h1{
        color:aliceblue;
        font-family: montserrat;
        font-weight: bolder;
        font-size: 2rem;
    }
    #logos{
        padding:2px;
        padding: auto;
        margin: none;
    }
}

