@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    height:100vh;
    width: 100%;
    background-image: linear-gradient(to top right,#ad5389,#3f2b96);
    display: flex;
    justify-content: center;
    align-items: center;
}
    

div{
    border: 2px solid white;
    padding: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 80px 80px;
    border-bottom-right-radius: 80px 80px
}
input{
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 25px;
    font-family: montserrat;
}
button{
    padding: 10px;
   border:none;
   background-color: rgb(181, 142, 255);
   color:aliceblue;
   font-family: montserrat;
}
button:hover{
    background-color: #3f2b96;
    color:
}
i{
   font-size: 6rem; 
}
    